<%- include("../../includes/header.ejs") %>

<div class="row container mx-auto">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="sign-up-form">
            <div class="p-5 pt-4">
                <h4 class="text-center mb-4">Create A account</h4>

                <form action="/auth/signup" method="POST">
                    
                    <div class="mb-3">
                        <label for="email">Enter You Email here</label>
                        <input type="email" required name="email" id="email" class="form-control fs-5">
                    </div>
                    <div class="mb-3">
                        <label for="username">Enter You username (must be uniq)</label>
                        <input type="text" required name="username" id="username" class="form-control fs-5">
                    </div>
                    <div class="mb-3">
                        <label for="password">Enter You password here</label>
                        <input type="password" required name="password" id="password" class="form-control fs-5">
                    </div>
                    <div class="mb-3">
                        <label for="retypePassword">Confirm Your Password here</label>
                        <input type="password" required name="confirmPassword" id="retypePassword" class="form-control fs-5">
                    </div>
                    <div class="text-center mt-3">
                        <input class="p-2 px-5 btn theme-bg-dark text-light" type="submit" value="Submit">
                    </div>
                
                </form>

                <p class="text-center my-3">Already have a account <a href="/auth/login">Login your account</a> </p>
            </div>
        </div>
    </div>
</div>

<%- include("../../includes/footer.ejs") %>
