<footer>
	<div class="text-center box py-4">
		<div class="container">
			<div class="d-flex flex-column">
				<div class="logo">
					<img src="/images/sn-blog-navbar-logo.svg" alt="">
				</div>
				<div>
					<p class="text-muted m-0 d-inline-flex align-items-center"> <span class="iconify-inline mx-2" data-icon="ph:copyright"></span> copyright 2020. Developed and Design by <a class="mx-2 text-muted" href="https://web-hnazmul.web.app"> H. Nazmul Hassan </a></p>

				</div>
			</div>
		</div>
	</div>
</footer>