<%- include("../../includes/header.ejs",  {title:"login to your account"})%>

<div class="container">
    <div class="row dashboard-layout">
        <!-- imported sitebar -->
        <%- include("../dashboard/sitebar.ejs") %>

        <!-- =============================== -->
        <!-- dashbarod page content -->
        <div class="col-9 add-post-page dashboard-content">
            
        </div>
    </div>
</div>

<%- include("../../includes/footer.ejs") %>
<script src="/script/bootstrap.bundle.js"></script>
<script src="/script/defaultFrontend.js"></script>
</body>

</html>