<%- include("../../includes/header.ejs",  {title:"login to your account"})%>

<div class="row container mx-auto">
    <h1 class="display-1 text-center"> <span class="text-warning fw-bolder">Hey <%= user?.username %> </span>  Welcome <br>
         to Your Dashboard</h1>
</div>

<%- include("../../includes/footer.ejs") %>
