<div id="sitebar" class="sitebar col-3">
	<% if (user) { %>
	<% if (Object.keys(profile).length===0) { %>
	<div class="box p-2">
		<h5>complete your <a href="/dashboard/edit-profile">profile</a> please </h5>
	</div>
	<% } else { %>

	<div class="profile__image-and-name">
		<img src="<%= user.profilePic %> " alt="" class="profile-image" />
		<div class="name">
			<h4><%= profile.name %></h4>
		</div>
	</div>
	<div class="navigation">
		<ul class="">
			<li><a href="/dashboard"><span class="iconify-inline mx-2" data-icon="bx:bxs-dashboard"></span>Dashboard</a></li>
			<li><a href="/post/create-post"><span class="iconify-inline mx-2" data-icon="el:file-new"></span>New Post</a></li>
			<li><a href="/post"><span class="iconify-inline mx-2" data-icon="entypo:documents"></span>My Post</a></li>
			<li><a href="/dashboard/bookmarks"><span class="iconify-inline mx-2" data-icon="ic:round-bookmarks"></span>Bookmarks</a></li>
			<li><a href="/dashboard/comments"><span class="iconify-inline mx-2" data-icon="zmdi:comments"></span>Comments</a></li>
			<li><a href="/dashboard/edit-profile"><span class="iconify-inline mx-2" data-icon="bx:bxs-edit"></span>Edit Profile</a></li>
			<li><a href="/dashboard/change-password"><span class="iconify-inline mx-2" data-icon="teenyicons:password-outline"></span>Change Password</a></li>
			<li><a href="/"><span class="iconify-inline mx-2" data-icon="fa-solid:home"></span>Home</a></li>
			<li><a href="/auth/logout"><span class="iconify-inline mx-2" data-icon="iconoir:log-out"></span>Log Out</a></li>
		</ul>
	</div>
	<% } %>

	<% } else { %>
	<div class="box">
		<div class="p-4 text-center">
			<img src="/images/unlock image.png" class="w-100 mb-3" alt="">
			<h5 class="text-center"><a href="/auth/signup">Create an account</a> or <a href="/auth/login"> Login</a>
				to get <br /> <span class="fs-3"> Full access</span></h5>
		</div>
	</div>
	<% } %>

	
	<div class="sitebar-icon">
		<div class="sitebar-bars-wrapper">
			<div class="bars"></div>
			<div class="bars"></div>
			<div class="bars"></div>
			<div class="bars"></div>
		</div>
	</div>


</div>