
<div class="sitebar col-3">
    <div class="profile__image-and-name">
        <img src="<%= user.profilePic %> " alt="" class="profile-image" />
        <div class="name">
            <h4><%= profile.name %> </h4>
        </div>
    </div>

    <div class="navigation">
        <ul class="">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/post/create-post">Create Post</a></li>
            <li><a href="#">Manage Post</a></li>
            <li><a href="/dashboard/edit-profile">Edit Profile</a></li>
            <li><a href="/">News Feed</a></li>
        </ul>
    </div>
</div>
