@import "util";

/* sitebars css */
.dashboard-layout {
    .sitebar {
        padding: 0px;
        .profile__image-and-name {
            width: 100%;
            height: auto;
            @extend .box;
            .profile-image {
                width: 100%;
            }
            .name {
                background: grey;
                color: white;
                text-align: center;
                padding: 10px;
                h4 {
                    margin: 0px;
                }
            }
        }
        .navigation {
            margin-top: 20px;
            @extend .box;
            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
                padding: 20px 5px;
                @for $i from 1 through 9 {
                    li:nth-child(#{$i}) {
                        width: 100%;
                        // border-bottom: 1px solid rgba(145, 145, 145, 0.247);
                        background: white;
                        a {
                            color: darken(#9bdfff, $i * 5);
                        }
                    }
                }
                li a {
                    text-decoration: none;
                    padding: 10px 15px;
                    display: inline-block;
                    font-size: 18px;
                }
            }
        }
        .sitebar-icon{
            display: none;
        }
        @media screen and (max-width: 750px) {
            position: fixed;
            width: 100%;
            z-index: 1000;
            background: $html;
            min-height: 100vh;
            top: 0px;
            left: -100%;
            transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

            &.sitebar-show {
                left: 0px;
            }

            .profile__image-and-name {
                width: 200px;
                height: 240px;
                margin-right: auto;
                margin-bottom: 20px;
                .profile-image {
                    width: 100%;
                    height: calc(100% - 40px);
                    object-fit: cover;
                }
            }

            .sitebar-icon {
                position: fixed;
                top: 8px;
                right: 80px;
                z-index: 1001;
                padding: 5px;
                border: 1px solid #3b3b3b34;
                border-radius: 5px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.5s;
                cursor: pointer;
                &:hover{
                    background:#a3a3a3;
                    .sitebar-bars-wrapper{
                        .bars{
                            background:white;
                        }
                    }
                }
                .sitebar-bars-wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    position: relative;
                    .bars {
                        width: 100%;
                        height: 3px;
                        background: #a5a5a5;
                        position: absolute;
                        transition: 0.5s;
                    }
                    .bars:nth-child(1) {
                        top: 9px;
                        left: -9px;
                        transform: rotate(90deg);
                        height: 10px;
                    }
                    .bars:nth-child(2) {
                        top: 12px;
                        right: -13px;
                        transform: rotate(90deg);
                    }
                    .bars:nth-child(3) {
                        top: 0px;
                        left: 0px;
                    }
                    .bars:nth-child(4) {
                        bottom: 0px;
                        left: 0px;
                    }
                }

                &.clicked {
                    top: 50px;
                    right: 20px;
                    border-radius: 50%;
                    background: white;
                    border-color:red;
                    &:hover{
                        border-color: white;;
                        background:red;
                        .sitebar-bars-wrapper{
                            .bars{
                                background:white
                            }
                        }
                    }

                    .sitebar-bars-wrapper {
                        .bars {
                            background: red;
                        }
                        .bars:nth-child(1) {
                            transform: rotate(321deg);
                            height: 3px;
                            top: 14px;
                            left: 0px;
                        }
                        .bars:nth-child(2) {
                            display: none;
                        }
                        .bars:nth-child(3) {
                            transform: rotate(239deg);
                            bottom: 11px;
                            left: 0px;
                            top: auto;
                            right: auto;
                        }
                        .bars:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.dashboard-content {
    @media screen and (max-width: 750px) {
        width: 98% !important;
    }
}

#create-profile-page {
    section#profile-image {
        .file-upload-form {
            display: grid;
            place-items: center;
            form {
                width: 100%;
                padding: 30px;
            }
        }
    }

    section#user-info {
        .primary-info {
            @extend .box;
            padding: 20px;
            margin-top: 30px;
            color: $text;

            .custom-input-wrapper {
                padding: 20px;
                input {
                    padding: 10px;
                    background: $html;
                    color: $text;
                }
                textarea {
                    background: $html;
                    padding: 10px;
                }
            }
        }

        .socials-link {
            @extend .box;
            padding: 20px;
            margin-top: 30px;
            color: $text;
            margin-bottom: 50px;
            .social-input-wrapper {
                margin-bottom: 30px !important;
                .invalid-feedback {
                    display: block;
                }
                .input-group {
                    input {
                        padding: 15px;
                        background: $html;
                        color: $text;
                    }
                    span.input-group-text {
                        padding-left: 20px;
                        font-size: 20px;
                        color: $text;
                        border-top-left-radius: 40px;
                        border-bottom-left-radius: 40px;
                    }
                }
            }
        }
    }
}

/* create-post page css */
.add-post-page.dashboard-content {
    .post_image_thumbnail_box {
        .thumbnail {
            padding: 50px;
            margin-bottom: 30px;
            .thumbnail__image {
                img {
                    width: 100%;
                }
            }

            .text {
                text-align: center;
                padding: 20px;
                color: #dfdfdf;
                margin-bottom: 20px;
                display: grid;
                place-items: center;
                h1 {
                    margin-bottom: 30px;
                }
            }
        }
        .post-title,
        .post-body {
            label {
                font-size: 18px;
                margin-bottom: 10px;
                color: $text;
            }
            input {
                padding: 20px;
                background: $html;
            }
            textarea {
                background: $html !important;
            }
        }
    }
}

.dashboard-card {
    transition: 0.5s;
    background: $html;
    &:hover {
        background: #9bdfff;
        transform: translateY(-20px);
        .card-body {
            .card-title {
                color: white;
            }
        }
    }

    @media screen and (max-width: 750px) {
        border: none;
        .card-body {
            padding: 5px;
            .card-title {
                font-size: 15px;
            }
        }
    }
}
