@import "util";

#navbar-of-website {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #ffffff !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1000;

    @media screen and (max-width: 975px) {
        div#navbarSupportedContent {
            width: 100%;
            // padding: 20px;
            position: relative;
            &::before {
                position: fixed;
                width: 100%;
                content: "";
                display: block;
                height: 0px;
                transition: .2s;
            }
            &.collapsing, &.show {
                &::before {
                    height: 100%;
                    z-index: -1;
                    background: $html;
                    left: 0px;
                    top: 0px;
                }
            }
        }
        .navbar-form-group {
            width: 100% !important;
            padding: 10px;
            margin-top: 30px;
        }
    }

    .navbar-nav.navigation-items {
        .nav-item {
            .nav-link {
                border-radius: 50px;
                padding: 7px 15px;
                &:hover {
                    background: $primary;
                    color: white;
                }
            }
        }
    }
}
.navbar-of-website-spacer {
    padding: 26px;
}

/* sign up form css */
.sign-up-form {
    border-radius: 50px;
    overflow: hidden;
    background: $html;
    @extend .shadow-3d-2;
    label,
    p,
    span,
    input,
    .form-control {
        color: $text;
        font-weight: lighter;
    }

    input,
    .form-control {
        font-weight: 500;
        color: dimgray;
        font-size: 17px;
    }
}

/* Home Page css here */
.search-pannel {
    .input-group {
        border-color: transparent;

        .input-group-text {
            background: $html;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            padding-left: 50px;
        }
    }
    input.form-control {
        background: $html;
        border-radius: 50px;
        font-size: 18px;
        padding: 10px;
    }
}

.home-post-card {
    .card-img-cover {
        position: relative;
        overflow: hidden;
        &:hover {
            .icons-area {
                right: 0px;
                transition: 0.3s ease-in-out;
            }
        }

        .icons-area {
            width: 100px;
            position: absolute;
            right: -100%;
            background: rgba(0, 0, 0, 0.562);
            color: white;
            top: 0px;
            height: 100%;
            transition: 0.9s ease-in-out;
        }
    }

    @media screen and (max-width: 750px) {
        .card-body {
            padding: 10px;
        }
        .card-title {
            font-size: 17px;
        }
        .card-text {
            font-size: 12px !important;
        }
    }
}

.icon-bookmark {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    .iconify {
        font-size: 35px;
    }

    &:active {
        background: rgba(255, 255, 255, 0.418);
    }
}
.add-bookmark-text {
    font-size: 13px;
    font-weight: lighter !important;
}

/* comment card */
.comment-card {
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;

    .comment-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        overflow: hidden;
    }
    .comment-body {
        width: 100%;
    }
}
/* reply card css */
.reply-card {
    border: 1px solid rgba(201, 201, 201, 0.493);
    border-radius: 10px;
    margin: 10px auto;
    font-size: 14px;
    padding: 5px;
    .reply-image {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}
